/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#login-screen, #main-menu, #quiz-screen, #progress-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #0070B8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005F8A;
}

progress {
    width: 100%;
    height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}
